<div [@routerTransition]>
        <p>
            <button routerLink="/user/add" [routerLinkActive]="['router-link-active']" class="btn btn-primary col-2 button_bg_primary ">User Add
            </button>
        </p>
        <div class="user_table">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border">
                <thead>
                    <tr>
                        <th style="width: 35%">Name</th>
                        <th style="width: 35%">Role</th>
                        <th style="width: 30%">Last name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of allUsers">
                        <td>{{ user.name }}</td>
                        <td>{{ user.username }}</td>
                        <td>
                            <div class="">
                                <select class="custom-select">
                                    <option selected>Open this select menu</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
