$topnav-background-color: #fff;
:host {
    display: block;
}


.login-page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    background: url(../../assets/images/login_bg.jpg);
    background-size: cover;
    > div {
       
    }
    .loginbox {
        padding: 50px 20px;
        .logo_div {
            width: 150px;
            height: 150px;
            background: #8fbbbc;
            margin: 0 auto;
            border-radius: 50%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
                    align-items: center;
            .logo_image {
                width: 130px;
                height: 130px;
                background: #fff;
                margin: 0 auto;
                border-radius: 50%;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                        align-items: center;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                        justify-content: center;
                img {
                    height: 80px;
                }
            }
        }
    }
    .col-lg-4 {
        padding: 0;
    }
    .input-lg {
        height: 46px;
        padding: 10px 15px;
    }
    .input-underline {
        font-size: 14px;
    }
    .input-underline:focus {
        box-shadow: none;
    }
    .rounded-btn {
        -webkit-border-radius: 50px;
        border-radius: 50px;
        color: rgba(255, 255, 255, 0.8);
        background: $topnav-background-color;
        border: 2px solid rgba(255, 255, 255, 0.8);
        line-height: 40px;
        padding: 0 25px;
    }
    .rounded-btn:hover,
    .rounded-btn:focus,
    .rounded-btn:active,
    .rounded-btn:visited {
        color: rgba(255, 255, 255, 1);
        border: 2px solid rgba(255, 255, 255, 1);
        outline: none;
    }
    h1 {
        font-weight: 400;
        font-size: 30px;
        color: #fff;
        small {
            color: rgba(255, 255, 255, 0.7);
        }
    }
    .form-group {
        margin-bottom: 20px;
        position: relative;
        .has_error {
            position: absolute;
            p {
                margin-bottom: 0;                
            }
        }
        label {
            padding: 0;
            color: #fff;
            margin: 0;
            a {
                color: #f9930d;
            }
        }
        input::-webkit-input-placeholder {
            color: #666 !important;
            font-size: 14px;
        }
        input:-moz-placeholder {
            /* Firefox 18- */
            color: #666 !important;
            font-size: 14px;
        }
        input::-moz-placeholder {
            /* Firefox 19+ */
            color: #666 !important;
            font-size: 14px;
        }
        input:-ms-input-placeholder {
            color: #666 !important;
            font-size: 14px;
        }
    }
    .mt-15 {
        margin-top: 10px;
    }
    .user-avatar {
        -webkit-border-radius: 50%;
        border-radius: 50%;
        border: 2px solid #fff;
    }
    mt-15 {
        margin-top: 15px;
    }
}
