<div class="login-page">
    <div class="d-flex justify-content-center align-items-center" style="height: 100%;">
        <div class="col-md-4 loginbox">
            <div class="form-group">
                <div class="logo_div">
                    <div class="logo_image">
                        <img src="../../assets/images/logo.png">
                    </div>
                </div>
            </div>
            <div class="form-group"><h1 class="text-center">User Login</h1></div>
            <form role="form" name="LogInForm" #loginform="ngForm" novalidate autocomplete="off">
                <div class="form-content">
                    <div class="form-group">
                        <!-- <label class="text-left">Email Address</label> -->
                        <div class="">
                            <input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" [(ngModel)]="loginDetail.email" class="form-control input-underline input-lg"
                                placeholder="Email" name="email_id" #email="ngModel" required [email]="true">
                            <div class="has_error" *ngIf="loginform.invalid && (email.touched || email.dirty)">
                                <p *ngIf="email.errors?.required" class="text-danger">Email is required</p>
                                <p *ngIf="email.errors?.pattern" class="text-danger">Enter valid email</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <!-- <label class=" text-left">Password</label> -->
                        <div class="">
                            <input type="password" [(ngModel)]="loginDetail.password" class="form-control input-underline input-lg" placeholder="Password"
                                name="password" #password="ngModel" required>
                            <div class="has_error" *ngIf="loginform.invalid && (password.touched || password.dirty)">
                                <p *ngIf="password.errors?.required" class="text-danger">password is required</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12 text-center">
                            <a [routerLink]="['/signup']">Sign up </a>If you do not have a verwin account</label>
                    </div>
                    <!-- <div class="form-group">
                        <label class="col-md-12 text-right">Forgot Password</label>

                    </div> -->
                </div>
                <div class="d-flex justify-content-center">
                    <button type="submit" [disabled]="!loginform.form.valid" (click)="onLoggedin()" class="btn btn-lg fs-14 btn-primary col-md-5">
                        <span *ngIf="!icon_show">Login</span>
                        <i *ngIf="icon_show" class="fa fa-spinner fa-spin"></i>
                    </button>
                </div>



            </form>

        </div>
    </div>
</div>
