/* You can add global styles to this file, and also import other style files */

@import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";
@import "~ngx-toastr/toastr.css";
@media print {
    .breadcrumb {
        display: none !important;
    }
}
/*fonts */

@font-face {
    font-family: 'Poppins-Light';
    src: url('../assets/fonts/Poppins-Light.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/Poppins-Light.woff') format('woff'), url('../assets/fonts/Poppins-Light.ttf') format('truetype'), url('../assets/fonts/Poppins-Light.svg#Poppins-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url('../assets/fonts/Poppins-Medium.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/Poppins-Medium.woff') format('woff'), url('../assets/fonts/Poppins-Medium.ttf') format('truetype'), url('../assets/fonts/Poppins-Medium.svg#Poppins-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-ExtraLight';
    src: url('../assets/fonts/Poppins-ExtraLight.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/Poppins-ExtraLight.woff') format('woff'), url('../assets/fonts/Poppins-ExtraLight.ttf') format('truetype'), url('../assets/fonts/Poppins-ExtraLight.svg#Poppins-ExtraLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-ExtraLightItalic';
    src: url('../assets/fonts/Poppins-ExtraLightItalic.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/Poppins-ExtraLightItalic.woff') format('woff'), url('../assets/fonts/Poppins-ExtraLightItalic.ttf') format('truetype'), url('../assets/fonts/Poppins-ExtraLightItalic.svg#Poppins-ExtraLightItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-SemiBold';
    src: url('../assets/fonts/Poppins-SemiBold.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/Poppins-SemiBold.woff') format('woff'), url('../assets/fonts/Poppins-SemiBold.ttf') format('truetype'), url('../assets/fonts/Poppins-SemiBold.svg#Poppins-SemiBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url('../assets/fonts/Poppins-Bold.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/Poppins-Bold.woff') format('woff'), url('../assets/fonts/Poppins-Bold.ttf') format('truetype'), url('../assets/fonts/Poppins-Bold.svg#Poppins-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url('../assets/fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/Poppins-Regular.woff') format('woff'), url('../assets/fonts/Poppins-Regular.ttf') format('truetype'), url('../assets/fonts/Poppins-Regular.svg#Poppins-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
$button-background-color: #2f73ba;
.pl-15 {
    padding-left: 15px;
}

.pl-30 {
    padding-left: 30px;
}

.fs-14 {
    font-size: 14px;
}

body {
    font-size: 14px;
    font-family: 'Poppins-Light';
}

.button_bg_primary {
    background: $button-background-color;
}

.custom_breadcrumb {
    background-color: transparent;
    padding: 1rem 3rem;
    margin-bottom: 0;
    border-bottom: 1px solid #e5e5e5;
    border-radius: 0px;
    li {
        &:before {
            content: "" !important;
        }
            a {
                font-size: 14px;
            }
        }
        
}

.common_padding_space {
    padding: 3rem 3rem;
    min-height: 600px;
    .form-group {
        margin-bottom: 25px;
        label {
            font-size: 14px;
        }
        input {
            font-size: 14px;
            height: calc(2.25rem + 2px);
        }
        select {
            font-size: 14px;
        }
        textarea {
            font-size: 14px;
        }
    }
    .form-check {
        label {
            font-size: 14px;
        }
    }
}

.custom_upload {
    position: relative;
    input {
        z-index: 1;
        position: relative;
        cursor: pointer;
    }
    i {
        position: absolute;
        left: 0px;
        top: 6px;
        color: #007bff;
    }
}

.user_table table {
    width: 100%;
}

// footer start
footer {
    position: relative;
    width: 100%;
    background: #000;
    z-index: 10000000;
    .footer_div {
        display: flex;
        justify-content: center;
        padding: 15px 0;
        ul {
            margin-bottom: 0;
            display: flex;
            li {
                a {
                    color: #fff !important;
                }
                span {
                    color: #fff;
                    padding: 0px 20px;
                }
            }
        }
    }
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0px rgb(76, 79, 180);
    border-radius: 3px;
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 3px rgb(76, 79, 180);
}

// footer end
