<div [@routerTransition]>

    <div>
        <form name="userCreateForm" #userCreateForm="ngForm" autocomplete="off" novalidate>
            <div class="row">
                <div class="col-8">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label>First Name *</label>
                                <input type="text" [(ngModel)]="userCreate.fname" #first_name="ngModel" name="first_name" class="form-control" aria-describedby="emailHelp"
                                    placeholder="Enter First Name" required>
                                <div *ngIf="userCreateForm.invalid && (first_name.touched || first_name.dirty)">
                                    <small id="emailHelp" *ngIf="first_name.errors?.required" class="form-text text-danger">Please Enter First Name</small>
                                </div>

                            </div>

                            <div class="form-group">
                                <label>Email Address *</label>
                                <input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" [(ngModel)]="userCreate.email" #email_id="ngModel"
                                    name="email_id" class="form-control" aria-describedby="emailHelp" placeholder="Enter email"
                                    required>
                                <div *ngIf="userCreateForm.invalid && (email_id.touched || email_id.dirty)">
                                    <small *ngIf="email_id.errors?.required" class="form-text text-danger">Please Enter Email Address</small>
                                    <small *ngIf="email_id.errors?.pattern" class="form-text text-danger"> Must be a valid Email</small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Password *</label>
                                <input type="password" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$" [(ngModel)]="userCreate.password"
                                    #password="ngModel" name="password" class="form-control" placeholder="Password" required>
                                <div *ngIf="userCreateForm.invalid && (password.touched || password.dirty)">
                                    <small *ngIf="password.errors?.required" class="form-text text-danger">Please Enter Password</small>
                                    <small *ngIf="password.errors?.pattern" class="form-text text-danger">Minimum 8 characters, 1 one letter, 1 number and 1 special character</small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Role *</label>
                                <select class="custom-select" [(ngModel)]="userCreate.role" #role_type="ngModel" name="role_type" required>
                                    <option [selected]="true">Please Select Role </option>
                                    <option *ngFor="let roles of userRole" value="{{roles.id}}">{{roles.role}}</option>
                                </select>
                                <div *ngIf="userCreateForm.invalid && (role_type.touched || role_type.dirty)">
                                    <small *ngIf="role_type.errors?.required" class="form-text text-danger">Please Enter Role Type</small>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label>Last Name *</label>
                                <input type="text" [(ngModel)]="userCreate.lname" #last_name="ngModel" name="last_name" class="form-control" aria-describedby="emailHelp"
                                    placeholder="Enter Last Name" required>
                                <div *ngIf="userCreateForm.invalid && (last_name.touched || last_name.dirty)">
                                    <small *ngIf="last_name.errors?.required" class="form-text text-danger">Please Enter Last Name</small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Phone Number</label>
                                <input type="number" [(ngModel)]="userCreate.mobile" #phone_no="ngModel" name="phone_no" class="form-control" min="10" aria-describedby="emailHelp"
                                    placeholder="Enter Phone Number" required>
                                <div *ngIf="userCreateForm.invalid && (phone_no.touched || phone_no.dirty)">
                                    <small *ngIf="phone_no.errors?.required" class="form-text text-danger">Please Enter Phone No</small>

                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Description</label>
                                <textarea rows="6" [(ngModel)]="userCreate.description" #description="ngModel" name="description" class="form-control" placeholder="Description"></textarea>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="custom-control custom-checkbox form-group">
                                <input type="checkbox" [(ngModel)]="userCreate.check" #check="ngModel" name="check" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1"> Send the new user an email with the login credentials</label>
                                <div *ngIf="userCreateForm.invalid && (check.touched || check.dirty)">
                                    <small *ngIf="check.errors?.required" class="form-text text-danger">Please Select</small>
                                </div>
                            </div>

                        </div>
                        <div class="col-12">
                            <div class="form-group custom_upload">
                                <i class="fa fa-upload" aria-hidden="true"></i>
                                <input type="file" [(ngModel)]="userCreate.upload" #upload="ngModel" name="upload" class="file_type pl-30">
                            </div>
                            <div class="form-group">
                                <button type="button" [disabled]="!userCreateForm.form.valid || icon_show" (click)="create()" class="btn fs-14 col-3 btn-lg btn-primary button_bg_primary">
                                    <span *ngIf="!icon_show">Add User</span>
                                    <i *ngIf="icon_show" class="fa fa-spinner fa-spin"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>
