<app-header></app-header>
<app-sidebar (collapsedEvent)="receiveCollapsed($event)"></app-sidebar>
<section class="main-container" [ngClass]="{collapsed: collapedSideBar}">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb custom_breadcrumb">
                <li *ngIf="urlArray.length == 1" class="breadcrumb-item active" aria-current="page">{{urlArray[0] | titlecase}}</li>
            <li *ngIf="urlArray.length > 1" class="breadcrumb-item">
                <a routerLink="{{'/' + urlArray[0]}}">{{urlArray[0] | titlecase}}</a> <span *ngIf="urlArray.length > 1"> {{' >> '}} </span>
            </li>
            <li *ngIf="urlArray.length > 1" class="breadcrumb-item active" aria-current="page">{{urlArray[1] | titlecase}}</li>
        </ol>
    </nav>
    <div class="common_padding_space">
        <router-outlet></router-outlet>
    </div>
</section>
<app-footer></app-footer>
