<div class="login-page">
    <div class="d-flex justify-content-md-center">
        <div class="col-md-4 loginbox">
            <div class="form-group">
                <div class="logo_div">
                    <div class="logo_image">
                        <img src="../../assets/images/logo.png">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <h1 class="text-center">User Registration</h1>
            </div>
            <form role="form" name="registerForm" #registerForm="ngForm" novalidate autocomplete="off">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" [(ngModel)]="registerDetail.fname" name="first_name" #firstname="ngModel" class="form-control input-underline input-lg"
                            placeholder="First Name *" required>
                        <div class="has_error" *ngIf="registerForm.invalid && (firstname.touched || firstname.dirty)">
                            <p *ngIf="firstname.errors?.required" class="text-danger">First Name is required</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" [(ngModel)]="registerDetail.lname" name="last_name" #lastname="ngModel" class="form-control input-underline input-lg"
                            placeholder="Last Name *" required>
                        <div class="has_error" *ngIf="registerForm.invalid && (lastname.touched || lastname.dirty)">
                            <p *ngIf="lastname.errors?.required" class="text-danger">Last Name is required</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" [(ngModel)]="registerDetail.email" name="email_id"
                            #email="ngModel" class="form-control input-underline input-lg" placeholder="Email Address *" required
                            [email]="true">
                        <div class="has_error" *ngIf="registerForm.invalid && (email.touched || email.dirty)">
                            <p *ngIf="email.errors?.required" class="text-danger">Email is required</p>
                            <p *ngIf="email.errors?.pattern" class="text-danger">Enter valid email</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" [(ngModel)]="registerDetail.mobile" name="phone_number" #mobileno="ngModel" class="form-control input-underline input-lg"
                            placeholder="Mobile Number *" required>
                        <div class="has_error" *ngIf="registerForm.invalid && (mobileno.touched || mobileno.dirty)">
                            <p *ngIf="mobileno.errors?.required" class="text-danger">Mobile Number is required</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="password" [(ngModel)]="registerDetail.password" name="password" #password="ngModel" class="form-control input-underline input-lg"
                            placeholder="Password *" required>
                        <div class="has_error" *ngIf="registerForm.invalid && (password.touched || password.dirty)">
                            <p *ngIf="password.errors?.required" class="text-danger">Password is required</p>
                        </div>
                    </div>
                    <div class="form-group">
                            <label class="col-md-12 text-center">
                                <a [routerLink]="['/login']">Sign In </a>If you have a verwin account</label>
                        </div>
                </div>
                <div class="d-flex justify-content-center">
                    <button type="button" [disabled]="!registerForm.form.valid" (click)="registerUser()" class="btn btn-md btn-primary col-md-5">
                        <span *ngIf="!icon_show">Register</span>
                        <i *ngIf="icon_show" class="fa fa-spinner fa-spin"></i>
                    </button>
                </div>
            </form>

        </div>

    </div>
</div>
