<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <div class="list-group">
        <a routerLink="/dashboard" (click)="bodyScroll()" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp; Dashboard
        </a>
        <a routerLink="/user" (click)="bodyScroll()" *ngIf="_auth.isLoggingIn() == 'A'" [routerLinkActive]="['router-link-active']"
            class="list-group-item">
            <i class="fa fa-fw fa-user"></i>&nbsp; User
        </a>
        <a routerLink="/product" (click)="bodyScroll()" *ngIf="_auth.isLoggingIn() == 'SA'" [routerLinkActive]="['router-link-active']"
            class="list-group-item">
            <i class="fa fa-fw fa-cube"></i>&nbsp; Products
        </a>

        <!-- <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('pages')">
                <span><i class="fa fa-plus"></i>&nbsp; {{ 'Menu' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'pages'">
                <ul class="submenu">
                    <li>
                        <a href="javascript:void(0)"><span>{{ 'Submenu' | translate }}</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><span>{{ 'Submenu' | translate }}</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><span>{{ 'Submenu' | translate }}</span></a>
                    </li>
                </ul>
            </li>
        </div> -->


    </div>
</nav>
