<div [@routerTransition]>
        <div>
            <form name="addProductForm" #addProductForm="ngForm" autocomplete="off" novalidate>
                <div class="row">
                    <div class="col-8">
                        <div class="row">
                            <div class="col-9">
                                <div class="form-group">
                                    <label>Product Title</label>
                                    <input type="text" [(ngModel)]="addProduct.title" #title="ngModel" name="title" class="form-control" aria-describedby="emailHelp"
                                        placeholder="Enter First Name" required>
                                    <!-- <div *ngIf="userCreateForm.invalid && (first_name.touched || first_name.dirty)">
                                          <small id="emailHelp" *ngIf="first_name.errors?.required" class="form-text text-danger">Please Enter First Name</small>
                                  </div> -->

                                </div>
                                <div class="form-group">
                                    <label>Product Description</label>
                                    <app-ngx-editor [placeholder]="'Enter text here...'" [spellcheck]="true" [(ngModel)]="addProduct.description" #description="ngModel" name="description"></app-ngx-editor>

                                </div>
                                <div class="form-group">
                                    <label>Product Short Description</label>
                                    <app-ngx-editor [placeholder]="'Enter text here...'" [spellcheck]="true" [(ngModel)]="addProduct.sub_description" #sub_description="ngModel" name="sub_description"></app-ngx-editor>

                                </div>
                                <div class="form-group">
                                    <label>Select Category *</label>
                                    <select class="custom-select" name="role_type" required>
                                        <option [selected]="true">Please Select Role </option>
                                    </select>
                                    <!-- <div *ngIf="userCreateForm.invalid && (role_type.touched || role_type.dirty)">
                                        <small *ngIf="role_type.errors?.required" class="form-text text-danger">Please Enter Role Type</small>
                                </div> -->
                                </div>
                                <div class="form-group">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                                        <label class="custom-control-label" for="customRadio1">Add Cart
                                            <i class="fa fa-shopping-cart pl-15"></i>
                                        </label>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group">

                                                <input type="text" [(ngModel)]="addProduct.title" #first_name="ngModel" name="first_name" class="form-control" aria-describedby="emailHelp"
                                                    placeholder="Enter First Name" required>


                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">

                                                <select class="form-control custom-select" name="role_type" required>
                                                    <option [selected]="true">Please Select Role </option>
                                                </select>


                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label>Price *</label>
                                                <input type="text" [(ngModel)]="addProduct.title" #first_name="ngModel" name="first_name" class="form-control" aria-describedby="emailHelp"
                                                    placeholder="Rs :" required>
                                                <!-- <div *ngIf="userCreateForm.invalid && (first_name.touched || first_name.dirty)">
                                                              <small id="emailHelp" *ngIf="first_name.errors?.required" class="form-text text-danger">Please Enter First Name</small>
                                                      </div> -->

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-4">
                                            <button type="button" (click)="create()" class="btn col-12 fs-14 btn-lg btn-default">
                                                <span>Delete</span>
                                                <i *ngIf="icon_show" class="fa fa-spinner fa-spin"></i>
                                            </button>
                                        </div>
                                        <div class="col-4">
                                            <button type="button" (click)="create()" class="btn fs-14 col-12 btn-lg btn-default">
                                                <span>Preview</span>
                                                <i *ngIf="icon_show" class="fa fa-spinner fa-spin"></i>
                                            </button>
                                        </div>
                                        <div class="col-4">
                                            <button type="button" (click)="create()" class="btn col-12 fs-14 btn-lg btn-default">
                                                <span>Publish</span>
                                                <i *ngIf="icon_show" class="fa fa-spinner fa-spin"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>

                            </div>


                        </div>
                    </div>
                </div>

            </form>
        </div>
</div>
